
.App {
  text-align: center;
  padding: 0;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav{
  padding: 0;
  margin: 0;
}

.alert{
  padding-top:10px;
  height: 50px;
  background: lightgoldenrodyellow;
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-bg{
  height: 400px;
  width: 400vw;
  transition: all 0.5s;
  margin-top: 40px;
}

.slide-box{
  width: 100vw;
  float: left;
  height: 100%;
  position: relative;
  /* background: lightgrey; */
}

.img-on-text{
  margin-top: 70px;
  margin-left: 250px;
  position: absolute;
  font-weight: bold;
  font-size: 50px;

}
.sale-text{
  font-size: 25px;
  color: #4d377b;
  font-weight: bold;
}
.slide-box img{
  width: 100%;
  height: 100%;
}

/* 2,3번쨰 슬라이드 이미지 박스 */
.slide-img-box{
  margin-left: 200px;
  width: 30%;
  height: 100%;
  float: left;
}

.slide-img-box img{
  height: 100%;
  width: 100%;
}

.slide-text-box{
  width: 400px;
  margin-left: 700px;
  height: 80%;
  float: left;
  position: absolute;
  /* background:#4d377b; */
  border-radius: 50%;
  opacity: 0.8;
}

.slide-text-box p{
  margin-top: 100px;
  font-weight: bold;
  margin-left: 10px;
  font-size: 30px;
  position: absolute;
  color: #4d377b;
  text-align: center;
  opacity: 1;
}

.start{
  opacity: 0;
}

.end{
  opacity: 1;
  transition: opacity 0.5s;
}

.navbar{
  /* color: white !important; */
  margin: 0px;
  background-color: #4d377b !important;
} 

#navbarScrollingDropdown{
  background: #4d377b;
  color: white;
}

/* 시연이네 편의점 로고 */
.navbar-brand{
  font-size: 28px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: white !important;
  margin-left: 50px;
}

#navbarScrollingDropdown{
  font-size: 20px;
}

.nav-link{
/* 서브메뉴 */
  color: white;
}

/* detail 페이지 탭 메뉴 */
.tab-nav-link{
  color: #4d377b;
}

.main-ment{
  height: 100px;
  padding: 20px;
  font-weight: bold;
  margin: 5px auto;
}

.main-ment p{
  font-size: 35px;
  margin: auto;
}

.slide-btn{
  margin: 15px;
  /* position: absolute; */
}
.alert alert-warning{
  margin: 0px;
}

.alert{
  font-size: 17px;
}
.product-box{
  /* transition: all 0.5s; */
  border: solid 3px white;
  background: white;
  position: relative;
}

.overlay{
  position : absolute;
  width : 100%;
  height : 100%;
  overflow : hidden;
}

.overlay-black {
  width : 100%;
  height : 100%;
  background : #4d377b;
  padding : 20px;
  opacity: 0;

}

.overlay:hover .overlay-black{
  opacity: 0.5;
  transition: all 0.5s;
}

.overlay-black p{
  font-size: 30px;
  font-weight: bold;
  margin-top: 100px;
  color: white;
}


.img-box{
  width: 80%;
  height: 60%;
}

.img-box img{
  width: 100%;
  margin-top: 10px;
  margin-left: 40px;
  height: 100%;

}

.text-box p{
  font-weight: bold;
  font-size: 20px;
}

/* detail.js */
/* 제품 이미지 및 가격 부분 div */
.row{
  width: 1000px;
  /* height: 300px; */
  margin: 50px auto;
}

.item-info{
  width: 40%;
  padding: 10px;
  border: 4px solid bisque;
  border-radius: 10px;
  /* background: #e9e9e9; */
}

.img-info{
  margin: auto;
}

.ship-info{
  height: 100px;
  width: 150px;
  border-radius: 5px;
  border: none;
  padding : 10px;
  margin: 15px auto;
  background: bisque;
  font-size: 13px;
  font-weight: bold;
}

.item-title{
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;
}

.item-price{
  font-size: 20px;
  font-weight: bold;
  color:#4d377b;
}

.detail-info{
  padding: 50px;
  font-size: 10px;
}

.detail-info-img{
  width: 500px;
  height: 500px; 
  margin: auto;
}

.detail-info-img img{
  width: 100%;
  height: 100%;
}
.ex{
  float: left;
}

.table{
  font-size: 20px;
}
.table-img{
  width: 150px;
  height: 150px;
}


.table-img img{
  width: 100%;
  height: 100%;
}

.table-tr td{
  padding-top: 50px;
}

.table-tr td:nth-child(2){
  padding-top: 0px;
}

/* 메인페이지 메뉴에 mouse:hover 시 메뉴 보이게 하기 */
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
.cartName{
  padding: 20px;
  position: left;
  font-weight: bold;
}
.total{
  font-size: 25px;
  font-weight: bold;
}
.total-price{
  font-size: 25px;
  font-weight: bold;
  color: red;
}

.order-btn{
  font-size: 25px;
  border: none;
  background-color: bisque;
  color: black;
}
.order-box{
  padding: 40px;
}
.count-box{
  width: 35px;
  margin-left: 10px;
  background: white;
  margin-right: 10px;

}
.count-btn{
  border: none;
  border-radius: 50px;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 5px;
}
.item-total-price{
  font-size: 20px;
  /* color: red; */
  font-weight: bold;
}

.item-order-btn{
  font-size: 15px;
  font-weight: bold;
  background-color: bisque;
  padding: 15px;
  border: none;
  border-radius: 10px;
}

/* 최근 본 상품 div */
.watched{
  border : solid 1px black;
  width: 130px;
  font-size: 15px;
  font-weight: bold;
  position: fixed;
  top: 200px;
  border-radius: 5px;
  right: 20px;
}

.cart-count{
  border : solid 1px black;
  color: white;
  background: #4d377b;;
}

.watched-img{
  border : solid 1px black;
  height: 100%;
  width: 100%;
  margin: 0px auto;
}

.watched-img img{
  height: 100%;
  width: 100%;
}
.watched-item{
  border : solid 1px black;
}

.down-btn{
  border: solid 1px black;
  background-color: #4d377b;;
  color: white;
}

.sort-btn{
  margin-right: 10px;
  padding: 15px;
  background: white;
  font-size: 13px;
  border-radius: 50px;
  border: 1px solid #4d377b;
  color: #4d377b;
  font-weight: bold;
}

.sort-btn:hover{
  background: #4d377b;
  color: white;
  transition: all 0.5s;

}
.faForward, .faBackward{
  background: none;
  border: solid 2px #4d377b;
  font-size: 35px;
  color:#4d377b;
  margin: 10px;
  padding: 20px;
  border-radius: 50px;
}

.faForward{
  right: 100px;
  top: 300px;
  position: absolute;
}

.faBackward{
  left: 100px;
  top: 300px;
  position: absolute;

}
.faForward:hover,.faBackward:hover{
  background: bisque;
  transition: all 0.5s;
  color: white;
  border: none;
}

.remove-btn{
  background-color: #4d377b;
  border: none;
  font-weight: bold;
  color: white;
  font-size: 20px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
