div{
  margin: 0px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-bg{
  height: 400px;
  width: 400vw;
  transition: all 0.5s;
  margin-top: 40px;
}

.slide-box{
  width: 100vw;
  float: left;
  height: 100%;
  position: relative;
  /* background: lightgrey; */
}

.img-on-text{
  margin-top: 70px;
  margin-left: 500px;
  position: absolute;
  font-weight: bold;
  font-size: 50px;
}
.sale-text{
  font-size: 25px;
  color: red;
  font-weight: bold;
}
.slide-box img{
  width: 65%;
  height: 100%;
}

/* 2,3번쨰 슬라이드 이미지 박스 */
.slide-img-box{
  margin-left: 300px;
  width: 40%;
  height: 100%;
  float: left;
}

.slide-img-box img{
  height: 100%;
  width: 100%;
}

.slide-text-box{
  margin-left: 1200px;
  width: 500px;
  height: 100%;
  float: left;
  position: absolute;
  background:plum;
  border-radius: 50%;
}

.slide-text-box p{
  margin-top: 100px;
  font-weight: bold;
  margin-left: 10px;
  font-size: 35px;
  position: absolute;
  text-align: center;
  color: black;
}


.start{
  opacity: 0;
}

.end{
  opacity: 1;
  transition: opacity 0.5s;
}

.navbar{
  /* color: white !important; */
  margin: 0px;
  background-color: purple !important;
} 

/* 시연이네 편의점 로고 */
.navbar-brand{
  font-size: 28px;
  /* font-family: 'Courier New', Courier, monospace; */
  font-weight: bold;
  color: white !important;
  margin-left: 50px;
}

#navbarScrollingDropdown{
  font-size: 20px;
}

.nav-link{
/* 서브메뉴 */
  color: white;
}

/* detail 페이지 탭 메뉴 */
.tab-nav-link{
  color: purple;
}

.main-ment{
  height: 130px;
  padding: 25px;
  font-weight: bold;
  margin: 20px;
}

.main-ment p{
  font-size: 30px;
}

.slide-btn{
  margin: 15px;
}
.alert alert-warning{
  /* height: 15px; */
  margin: 0px;
}
.product-box{
  /* transition: all 0.5s; */
  border: solid 3px white;
  background: white;
  position: relative;
}

.overlay{
  position : absolute;
  width : 100%;
  height : 100%;
  overflow : hidden;
}

.overlay-black {
  width : 100%;
  height : 100%;
  background : rgba(0,0,0,0.3);
  padding : 20px;
  opacity: 0;

}

.overlay:hover .overlay-black{
  opacity: 1;
  transition: all 0.5s;
}

.overlay-black p{
  font-size: 30px;
  font-weight: bold;
  margin-top: 150px;
  color: white;
}


.img-box{
  width: 80%;
  height: 70%;
}

.img-box img{
  width: 100%;
  margin-top: 10px;
  margin-left: 40px;
  height: 100%;

}

.text-box p{
  font-weight: bold;
  font-size: 20px;
}

/* detail.js */
/* 제품 이미지 및 가격 부분 div */
.row{
  margin: 50px;
}

.item-info{
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.img-info{
  margin-top: 60px;
}

.ship-info{
  width: 200px;
  border: solid 1px black;
  padding : 20px;
  margin: 15px auto;
}

.item-title{
  font-weight: bold;
  padding-bottom: 20px;
}

.item-price{
  font-size: 25px;
  font-weight: bold;
  color: red;
}

.detail-info{
  padding: 50px;
}
.ex{
  float: left;
}

.table{
  font-size: 20px;
}
.table-img{
  width: 150px;
  height: 150px;
}

.table-img img{
  width: 100%;
  height: 100%;
}

.table-tr td{
  padding-top: 50px;
}

.table-tr td:nth-child(2){
  padding-top: 0px;
}

/* 메인페이지 메뉴에 mouse:hover 시 메뉴 보이게 하기 */
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
.cartName{
  padding: 20px;
  position: left;
  font-weight: bold;
}
.total{
  font-size: 40px;
  font-weight: bold;
}
.total-price{
  font-size: 40px;
  font-weight: bold;
  color: red;
}

.order-btn{
  font-size: 30px;
}

.order-box{
  padding: 40px;
}
.count-box{
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.count-btn{
  background: purple;
  color: white;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
}
.item-total-price{
  font-size: 25px;
  font-weight: bold;
}

.item-order-btn{
  font-size: 25px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
