div{
  margin: 0px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-bg{
  height: 350px;
  width: 400vw;
  transition: all 0.5s;
  margin-top: 40px;
}

.slide-img{
  width: 100vw;
  float: left;
  height: 100%;
}

.slide-img img{
  width: 65%;
  height: 100%;
}

.start{
  opacity: 0;
}

.end{
  opacity: 1;
  transition: opacity 0.5s;
}

.navbar{
  background-color: purple !important;
  
} */

.main-ment{
  height: 130px;
  padding: 25px;
  margin: 20px;
}

.main-ment p{
  font-size: 30px;
}

.slide-btn{
  margin: 15px;
}
.alert alert-warning{
  height: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
